{% extends "layout.html" %}

{% block content1%}

<div class="container">
  <div>
    <form method="POST" action="/resumen">  <!-- method="POST" action="/f" -->
      <div class="form-group">
          <label class = "titulo" for="textInput">Ingrese noticia a resumir</label>
          <textarea class="textAreaNoticia" type="text" name="input" id="textInput" ></textarea>
      </div>
      <br>
      <hr>
      <div class = "div_btn">
          <button class="btn btn-primary" id ="btn_resumir" type="submit" value ="VALUE1" onclick="loading();" name="action1" >Resumir</button>             
      </div>
    </form>
  </div>
</div>

{% endblock%}